/* Styles for start page on GOV.UK */
/* govuk_frontend_toolkit styles */
@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* Cross-browser shims

  Ways of normalising properties across browsers.
 */
@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* Usage:
   @include inline-block

   or

   @include inline-block("250px")

   which gives a min-height to the inline-block elements.
*/
/* Contain floats usage:

   .this-has-floated-children {
     @extend %contain-floats;
   }

*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/govuk_frontend_toolkit\/stylesheets\/_shims\.scss}line{font-family:\0000349}}
#global-header .header-wrapper .header-global .site-search:after, #global-header form#search .content:after, #global-header .header-proposition #proposition-links:after {
  content: "";
  display: block;
  clear: both; }

/* CSS 3 Mixins

  Add them as you need them. This should let us manage vendor prefixes in one place.
 */
@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* Cross-browser shims

  Ways of normalising properties across browsers.
 */
@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* Usage:
   @include inline-block

   or

   @include inline-block("250px")

   which gives a min-height to the inline-block elements.
*/
/* Contain floats usage:

   .this-has-floated-children {
     @extend %contain-floats;
   }

*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/govuk_frontend_toolkit\/stylesheets\/_shims\.scss}line{font-family:\0000349}}
#global-header .header-wrapper .header-global .site-search:after, #global-header form#search .content:after, #global-header .header-proposition #proposition-links:after {
  content: "";
  display: block;
  clear: both; }

/* CSS 3 Mixins

  Add them as you need them. This should let us manage vendor prefixes in one place.
 */
@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/*

Mixin and defaults for making buttons on GOV.UK services.

For guidance, see: https://www.gov.uk/service-manual/design-and-content/resources/buttons.html

Example usage:

.button{
  @include button;
}
.button-secondary{
  @include button($grey-3);
}
.button-warning{
  @include button($red);
}

*/
/*
 * Global headers
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\0000310}}
#global-header .header-wrapper .header-global .site-search {
  width: 49%;
  float: right;
  padding: 0;
  margin: 0;
  min-height: 0;
  max-width: 100%; }
  @media (min-width: 769px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\0000310}}
    #global-header .header-wrapper .header-global .site-search {
      width: 33.33%; } }
  @media screen and (max-width: 379px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\0000310}}
    #global-header .header-wrapper .header-global .site-search {
      width: auto;
      float: none; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\0000327}}
  #global-header .header-wrapper .header-global .site-search .content {
    margin: 0 15px; }
@media (min-width: 769px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\0000333}}
  #global-header.with-proposition .header-wrapper .header-global {
    float: left;
    width: 33.33%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\0000339}}
    #global-header.with-proposition .header-wrapper .header-global .header-logo,
    #global-header.with-proposition .header-wrapper .header-global .site-search {
      width: 100%; } }
@media (min-width: 769px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\0000344}}
  #global-header.with-proposition .header-wrapper .header-proposition {
    width: 66.66%;
    float: left; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\0000349}}
#global-header.with-proposition .header-wrapper .header-proposition .content {
  margin: 0 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\0000355}}
#global-header.with-proposition #search {
  margin-top: 4px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\0000360}}
#global-header .search-toggle {
  display: none; }
  @media screen and (max-width: 379px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\0000360}}
    #global-header .search-toggle {
      display: block;
      float: right;
      height: 30px;
      width: 36px;
      padding: 0;
      margin: -32px 15px;
      overflow: hidden;
      text-indent: -5000px;
      background-color: #2b8cc4;
      background-image: url("/assets/images/search-button.png");
      background-repeat: no-repeat;
      background-position: 0 50%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\0000377}}
      body.search #global-header .search-toggle {
        display: none; } }
    @media only screen and (max-width: 379px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 379px) and (min--moz-device-pixel-ratio: 2), only screen and (max-width: 379px) and (-o-min-device-pixel-ratio: 20 / 10), only screen and (max-width: 379px) and (min-device-pixel-ratio: 2), only screen and (max-width: 379px) and (min-resolution: 192dpi), only screen and (max-width: 379px) and (min-resolution: 2dppx) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\0000360}}
      #global-header .search-toggle {
        background-size: 52.5px 35px;
        background-position: 100% 50%; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\0000385}}
  #global-header .search-toggle:hover {
    background-color: #267daf; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\0000389}}
  #global-header .search-toggle.js-hidden {
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\0000393}}
#global-header form#search .content {
  position: relative;
  background: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\0000398}}
#global-header form#search label {
  float: left;
  height: 35px;
  line-height: 35px;
  text-indent: 15px;
  overflow: hidden;
  display: block;
  margin-right: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003107}}
  .js-enabled #global-header form#search label {
    float: none;
    position: absolute;
    left: 0;
    top: 1px;
    z-index: 1;
    width: 100%;
    margin-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003117}}
#global-header form#search input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 50%;
  min-width: 0;
  display: block;
  margin: 0;
  border: 0;
  height: 35px;
  padding: 6px 0;
  -webkit-appearance: none;
  -moz-appearance: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003133}}
#global-header form#search input#site-search-text {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4375;
  font-weight: 300;
  text-transform: none;
  position: relative;
  padding: 6px;
  z-index: 3;
  background: transparent; }
  @media (max-width: 640px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003133}}
    #global-header form#search input#site-search-text {
      font-size: 14px;
      line-height: 1.76923; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003141}}
  #global-header form#search input#site-search-text.focus, #global-header form#search input#site-search-text:focus {
    background: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003148}}
  .js-enabled #global-header form#search input#site-search-text {
    width: 86%;
    width: -webkit-calc(100% - 37px);
    width: calc(100% - 37px); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003154}}
#global-header form#search input.submit {
  position: absolute;
  z-index: 4;
  right: 0;
  top: 0;
  width: 35px;
  height: 35px;
  border: 1px solid #005ea5;
  border-width: 0 0 0 1px;
  border-left-color: #222;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  overflow: hidden;
  text-indent: -5000px;
  color: white;
  background-color: #005ea5;
  background-image: url("/assets/images/search-button.png");
  background-repeat: no-repeat;
  background-position: 0 50%; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003154}}
    #global-header form#search input.submit {
      background-size: 52.5px 35px;
      background-position: 100% 50%; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003189}}
  #global-header form#search input.submit:hover {
    background-color: #267daf; }
@media screen and (max-width: 379px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\0000392}}
  #global-header form#search {
    display: none;
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003210}}
    #global-header form#search #site-search-text {
      width: 80%; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003214}}
#global-header form#search.js-visible {
  display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003217}}
#global-header .header-proposition {
  padding-top: 10px; }
  @media (min-width: 769px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003217}}
    #global-header .header-proposition {
      padding-top: 0; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003222}}
  #global-header .header-proposition #proposition-name {
    font-family: "nta", Arial, sans-serif;
    font-size: 24px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    font-weight: bold;
    color: white;
    text-decoration: none; }
    @media (max-width: 640px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003222}}
      #global-header .header-proposition #proposition-name {
        font-size: 20px;
        line-height: 1.2; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003228}}
  #global-header .header-proposition a.menu {
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none;
    color: white;
    display: block;
    float: right;
    text-decoration: none;
    padding-top: 6px; }
    @media (max-width: 640px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003228}}
      #global-header .header-proposition a.menu {
        font-size: 14px;
        line-height: 1.14286; } }
    @media (min-width: 769px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003228}}
      #global-header .header-proposition a.menu {
        display: none; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003238}}
    #global-header .header-proposition a.menu:hover {
      text-decoration: underline; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003241}}
    #global-header .header-proposition a.menu:after {
      display: inline-block;
      font-size: 8px;
      height: 8px;
      padding-left: 5px;
      vertical-align: middle;
      content: " \25BC"; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003249}}
    #global-header .header-proposition a.menu.js-hidden:after {
      content: " \25B2"; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003253}}
  #global-header .header-proposition #proposition-menu {
    margin-top: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003256}}
  #global-header .header-proposition #proposition-links {
    clear: both;
    margin: 2px 0 0 0;
    padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003262}}
    .js-enabled #global-header .header-proposition #proposition-links {
      display: none; }
      @media (min-width: 769px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003262}}
        .js-enabled #global-header .header-proposition #proposition-links {
          display: block; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003267}}
      .js-enabled #global-header .header-proposition #proposition-links.js-visible {
        display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003272}}
    #global-header .header-proposition #proposition-links li {
      float: left;
      width: 50%;
      padding: 3px 0;
      border-bottom: 1px solid #bfc1c3; }
      @media (min-width: 769px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003272}}
        #global-header .header-proposition #proposition-links li {
          display: block;
          width: auto;
          padding: 0 15px 0 0;
          border-bottom: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003284}}
          #global-header .header-proposition #proposition-links li.clear-child {
            clear: left; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003289}}
      #global-header .header-proposition #proposition-links li a {
        color: white;
        text-decoration: none;
        font-family: "nta", Arial, sans-serif;
        font-size: 14px;
        line-height: 1.42857;
        font-weight: 400;
        text-transform: none;
        font-weight: 700; }
        @media (max-width: 640px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003289}}
          #global-header .header-proposition #proposition-links li a {
            font-size: 12px;
            line-height: 1.25; } }
        @media (min-width: 769px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003289}}
          #global-header .header-proposition #proposition-links li a {
            font-family: "nta", Arial, sans-serif;
            font-size: 16px;
            line-height: 1.25;
            font-weight: 300;
            text-transform: none;
            font-weight: 700;
            line-height: 23px; } }
          @media (min-width: 769px) and (max-width: 640px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003289}}
            #global-header .header-proposition #proposition-links li a {
              font-size: 14px;
              line-height: 1.14286; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003299}}
        #global-header .header-proposition #proposition-links li a:hover {
          text-decoration: underline; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003302}}
        #global-header .header-proposition #proposition-links li a.active {
          color: #28a197; }

/*
 * Page headers
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003316}}
header.page-header .skip-to-related {
  position: relative;
  left: 1em;
  top: -1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003321}}
  header.page-header .skip-to-related:focus {
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    left: 32px;
    top: -2em; }
  @media (min-width: 641px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003316}}
    header.page-header .skip-to-related {
      position: absolute;
      left: -9999em; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003334}}
header.page-header div {
  background-color: #fff;
  display: block;
  margin: 0;
  padding: 1em 2em 0 1em; }
  @media (min-width: 641px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003334}}
    header.page-header div {
      margin: 0 24em 0 0;
      padding-bottom: 2em;
      padding-left: 2em; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003346}}
  header.page-header div h1 {
    font-family: "nta", Arial, sans-serif;
    font-size: 48px;
    line-height: 1.04167;
    font-weight: 400;
    text-transform: none;
    padding-top: 10px;
    padding-bottom: 10px;
    background-repeat: no-repeat;
    color: #0b0c0c;
    font-weight: 600;
    margin: 0;
    min-height: 2.44em; }
    @media (max-width: 640px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003346}}
      header.page-header div h1 {
        font-size: 32px;
        line-height: 1.09375; } }
    @media (min-width: 641px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003346}}
      header.page-header div h1 {
        padding-top: 7px;
        padding-bottom: 13px; } }
    @media (min-width: 641px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003346}}
      header.page-header div h1 {
        min-height: 0;
        padding-bottom: 0; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003365}}
    header.page-header div h1 span {
      font-family: "nta", Arial, sans-serif;
      font-size: 27px;
      line-height: 1;
      font-weight: 400;
      text-transform: none;
      display: block;
      margin-bottom: 0.25em;
      text-shadow: none;
      color: #6f777b; }
      @media (max-width: 640px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003365}}
        header.page-header div h1 span {
          font-size: 18px;
          line-height: 1.11111; } }

/*
 * Related box
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003383}}
.related-positioning {
  position: static;
  top: auto;
  height: auto;
  left: 0;
  width: 100%;
  z-index: 0; }
  @media (min-width: 769px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003383}}
    .related-positioning {
      position: absolute;
      top: 7em;
      height: 0; } }

/*
.js-enabled .related-positioning {
  top: 7em;
}
.beta .related-positioning {
  top: 12em;
}

.js-enabled .related-with-cookie,
.js-enabled .related-beta {
  top: 9.5em;
}
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003420}}
.related-container {
  position: relative;
  margin: 0 auto;
  max-width: auto;
  height: auto;
  z-index: 50; }
  @media (min-width: 769px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003420}}
    .related-container {
      height: 0;
      max-width: 1020px; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003437}}
.related {
  position: static;
  right: auto;
  width: auto;
  margin: 3em 0 0 0;
  border-top: 10px solid #005ea5; }
  @media (min-width: 769px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003437}}
    .related {
      position: absolute;
      right: 1.75em;
      width: 18.75em; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003450}}
  .related .inner {
    background-color: white;
    padding: 0.5em 1em 0 1em;
    width: auto; }
    @media (min-width: 641px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003450}}
      .related .inner {
        padding-left: 2em; } }
    @media (min-width: 769px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003450}}
      .related .inner {
        padding-left: 0; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003464}}
  .related nav {
    margin-bottom: 1.25em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003468}}
  .related h2 {
    font-family: "nta", Arial, sans-serif;
    font-size: 24px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    font-weight: 600;
    color: #0b0c0c;
    margin-top: 0.3em;
    margin-bottom: 0.625em;
    position: relative; }
    @media (max-width: 640px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003468}}
      .related h2 {
        font-size: 20px;
        line-height: 1.2; } }
    @media (max-width: 640px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003468}}
      .related h2 {
        font-size: 17px;
        margin-bottom: 0.5em; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003482}}
  .related ul {
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden; }
    @media (max-width: 640px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003482}}
      .related ul {
        font-size: 14px;
        line-height: 1.14286; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003490}}
  .related li {
    margin-bottom: 0.75em;
    padding-left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003494}}
    .related li.related-topic {
      list-style: none outside none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003497}}
      .related li.related-topic a {
        display: inline;
        font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003503}}
    .related li a {
      background-position: 0 -287px;
      background-repeat: no-repeat;
      display: block;
      line-height: 1.25em;
      orphans: 2; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003510}}
      .related li a:hover {
        background-position: 0 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003519}}
    .related li a[href*="#"] {
      /* grey out stub links */
      background: none;
      color: #888;
      cursor: default;
      text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003527}}
    .related li a.view-all {
      margin: 10px 0 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003531}}
    .related li a[rel="external"]:after {
      content: "\A0\A0\A0\A0\A0\A0";
      background-position: 5px 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003536}}
    .related li a[rel="external"]:hover:after {
      background-position: 5px -388px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003542}}
  .related .return-to-top {
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none;
    margin-bottom: 0.5em;
    position: absolute;
    left: -9999em; }
    @media (max-width: 640px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003542}}
      .related .return-to-top {
        font-size: 14px;
        line-height: 1.14286; } }
    @media (max-width: 640px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003542}}
      .related .return-to-top {
        position: static;
        margin: 0.25em 0 0;
        padding: 0.75em 0; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003556}}
.related.sections-list li a {
  padding: 0.1em 0em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003560}}
#legacy-sources {
  margin-top: 1em;
  display: none; }
  @media (min-width: 641px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003560}}
    #legacy-sources {
      margin: 1em 2em 0em; } }
  @media (max-width: 640px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003560}}
    #legacy-sources {
      margin-left: 1em;
      margin-right: 1em; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003573}}
  #legacy-sources p {
    font-size: 1em;
    margin-bottom: 0;
    padding: 0;
    color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003580}}
  #legacy-sources ul {
    margin: 0;
    padding: 0;
    overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003586}}
  #legacy-sources li {
    text-indent: -5000px;
    float: left;
    background-repeat: no-repeat;
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003595}}
.businesslink #legacy-sources,
.directgov #legacy-sources {
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003599}}
.businesslink #legacy-sources li.businesslink {
  background-image: image-url("businesslink-logo.png");
  width: 84px;
  height: 33px;
  margin-top: 0.5em;
  display: block; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003599}}
    .businesslink #legacy-sources li.businesslink {
      background-image: image-url("businesslink-logo-2x.png");
      background-size: 84px 33px; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003612}}
.directgov #legacy-sources li.directgov {
  background-image: image-url("directgov-logo.png");
  width: 74px;
  height: 14px;
  margin-right: 1em;
  margin-top: 1.2em;
  display: block; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003612}}
    .directgov #legacy-sources li.directgov {
      background-image: image-url("directgov-logo-2x.png");
      background-size: 74px 14px; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003626}}
article {
  padding-bottom: 2em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/mainstream\.scss}line{font-family:\00003629}}
  article .toggle {
    float: none; }
