/* Global print stylesheet */
@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* Cross-browser shims

  Ways of normalising properties across browsers.
 */
@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* Usage:
   @include inline-block

   or

   @include inline-block("250px")

   which gives a min-height to the inline-block elements.
*/
/* Contain floats usage:

   .this-has-floated-children {
     @extend %contain-floats;
   }

*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/govuk_frontend_toolkit\/stylesheets\/_shims\.scss}line{font-family:\0000349}}
article form:after,
article fieldset:after,
form form:after,
form fieldset:after {
  content: "";
  display: block;
  clear: both; }

/* CSS 3 Mixins

  Add them as you need them. This should let us manage vendor prefixes in one place.
 */
@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/*

Mixin and defaults for making buttons on GOV.UK services.

For guidance, see: https://www.gov.uk/service-manual/design-and-content/resources/buttons.html

Example usage:

.button{
  @include button;
}
.button-secondary{
  @include button($grey-3);
}
.button-warning{
  @include button($red);
}

*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\000038}}
main > header {
  position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\0000311}}
  main > header h1 {
    font-family: "nta", Arial, sans-serif;
    font-size: 16pt;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    border-bottom: solid 1pt black;
    padding-bottom: 6pt;
    width: 80%; }
    @media (max-width: 640px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\0000311}}
      main > header h1 {
        font-size: 20px;
        line-height: 1.2; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\0000317}}
    main > header h1:after {
      content: " from GOV.UK"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\0000324}}
article,
form {
  margin-bottom: 1cm;
  width: 80%;
  /* block-level form controls that require contained width */
  /* block-level form controls */ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\0000332}}
  article h2,
  article h3,
  article h4,
  article p,
  article ul,
  form h2,
  form h3,
  form h4,
  form p,
  form ul {
    orphans: 3;
    widows: 3; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\0000339}}
  article h2,
  article h3,
  article h4,
  form h2,
  form h3,
  form h4 {
    page-break-after: avoid; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\0000343}}
  article header h1,
  form header h1 {
    font-family: "nta", Arial, sans-serif;
    font-size: 14pt;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    font-weight: 700;
    border-bottom: 1pt solid #7f7f7f;
    padding-top: 7pt;
    padding-bottom: 7pt; }
    @media (max-width: 640px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\0000343}}
      article header h1,
      form header h1 {
        font-size: 16px;
        line-height: 1.25; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\0000350}}
  article h2,
  form h2 {
    font-family: "nta", Arial, sans-serif;
    font-size: 14pt;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    font-weight: 700;
    padding-top: 7pt; }
    @media (max-width: 640px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\0000350}}
      article h2,
      form h2 {
        font-size: 16px;
        line-height: 1.25; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\0000355}}
  article h3,
  form h3 {
    font-family: "nta", Arial, sans-serif;
    font-size: 12pt;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none;
    font-weight: 700; }
    @media (max-width: 640px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\0000355}}
      article h3,
      form h3 {
        font-size: 14px;
        line-height: 1.14286; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\0000359}}
  article h4,
  form h4 {
    font-family: "nta", Arial, sans-serif;
    font-size: 11pt;
    line-height: 1.42857;
    font-weight: 400;
    text-transform: none;
    font-weight: 700; }
    @media (max-width: 640px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\0000359}}
      article h4,
      form h4 {
        font-size: 12px;
        line-height: 1.25; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\0000363}}
  article p,
  form p {
    font-family: "nta", Arial, sans-serif;
    font-size: 11pt;
    line-height: 1.42857;
    font-weight: 400;
    text-transform: none;
    margin-bottom: 1.5em; }
    @media (max-width: 640px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\0000363}}
      article p,
      form p {
        font-size: 12px;
        line-height: 1.25; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\0000369}}
  article ul,
  article ol,
  form ul,
  form ol {
    font-family: "nta", Arial, sans-serif;
    font-size: 11pt;
    line-height: 1.42857;
    font-weight: 400;
    text-transform: none;
    padding-left: 13pt;
    list-style-image: none;
    list-style-type: disc; }
    @media (max-width: 640px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\0000369}}
      article ul,
      article ol,
      form ul,
      form ol {
        font-size: 12px;
        line-height: 1.25; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\0000376}}
  article li,
  form li {
    line-height: 1.5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\0000385}}
  article fieldset,
  form fieldset {
    border: none;
    padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\0000391}}
  article input[type="text"],
  article textarea,
  form input[type="text"],
  form textarea {
    display: block;
    border: solid 1pt #0b0c0c;
    padding: 4pt;
    margin-bottom: 10pt; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\0000398}}
  article textarea,
  form textarea {
    min-height: 60pt;
    overflow: visible; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\00003103}}
  article label,
  form label {
    display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\00003107}}
  article input.small,
  form input.small {
    width: 32pt; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\00003111}}
  article input.year,
  form input.year {
    display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\00003115}}
  article textarea.small,
  form textarea.small {
    width: 220pt;
    overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\00003120}}
  article .next,
  form .next {
    margin: 2em 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\00003125}}
  article .selectable,
  form .selectable {
    display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\00003130}}
  article .selectable,
  form .selectable {
    margin-bottom: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\00003134}}
  article .selectable,
  form .selectable {
    padding: 2.5pt 10pt 2.5pt 18pt;
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\00003138}}
    article .selectable input,
    form .selectable input {
      position: absolute;
      left: 0pt;
      top: 4.5pt;
      margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\00003147}}
  article .help-content,
  article .optional-section,
  form .help-content,
  form .optional-section {
    margin-bottom: 2em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\00003152}}
    article .help-content h2.visuallyhidden,
    article .help-content h3.visuallyhidden,
    article .help-content h4.visuallyhidden,
    article .optional-section h2.visuallyhidden,
    article .optional-section h3.visuallyhidden,
    article .optional-section h4.visuallyhidden,
    form .help-content h2.visuallyhidden,
    form .help-content h3.visuallyhidden,
    form .help-content h4.visuallyhidden,
    form .optional-section h2.visuallyhidden,
    form .optional-section h3.visuallyhidden,
    form .optional-section h4.visuallyhidden {
      position: static;
      display: block !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\00003158}}
  article input[type="text"].invalid,
  form input[type="text"].invalid {
    border: 4pt solid #6f777b; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\00003162}}
  article .validation-message,
  form .validation-message {
    padding: 0.5em;
    margin: 1em 0 1em 0;
    border-left: 4pt solid #bfc1c3;
    font-weight: bold;
    color: #bfc1c3; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\00003173}}
.confirmation h3,
.confirmation .data-wrap {
  display: -moz-inline-stack;
  display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\00003177}}
.confirmation h3 {
  width: 40%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\00003181}}
.confirmation .data-wrap {
  width: 59%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\00003185}}
  .confirmation .data-wrap div,
  .confirmation .data-wrap p {
    width: auto;
    padding-left: 10pt; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\00003193}}
.confirmation h3,
.confirmation .data-wrap div,
.confirmation .data-wrap p {
  margin-bottom: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\00003197}}
.confirmation .warning {
  margin-top: 1em;
  border-top: 1pt solid #0b0c0c;
  padding-top: 1em;
  font-weight: 600;
  width: 59%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\00003207}}
.complete header {
  border: solid 1pt #0b0c0c;
  max-width: 640px;
  margin: 0 2em;
  margin: 1em 0 2em;
  padding: 1em; }
  @media (min-width: 641px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\00003207}}
    .complete header {
      margin-left: 30px;
      margin-right: 30px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\00003220}}
  .complete header h1,
  .complete header p {
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\00003224}}
  .complete header h1 {
    font-family: "nta", Arial, sans-serif;
    font-size: 18pt;
    line-height: 1.11111;
    font-weight: 400;
    text-transform: none;
    font-weight: 700;
    margin: 0 auto 0.5em;
    width: 10.5em; }
    @media (max-width: 640px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\00003224}}
      .complete header h1 {
        font-size: 24px;
        line-height: 1.04167; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\00003230}}
  .complete header p {
    font-family: "nta", Arial, sans-serif;
    font-size: 14pt;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    font-weight: 700;
    padding: 0; }
    @media (max-width: 640px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\00003230}}
      .complete header p {
        font-size: 16px;
        line-height: 1.25; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\00003234}}
    .complete header p span {
      font-family: "nta", Arial, sans-serif;
      font-size: 18pt;
      line-height: 1.11111;
      font-weight: 400;
      text-transform: none;
      font-weight: 700;
      display: block;
      margin: 0 0 10px 0; }
      @media (max-width: 640px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\00003234}}
        .complete header p span {
          font-size: 24px;
          line-height: 1.04167; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\00003241}}
.complete p.footnote {
  border-top: 1px solid #bfc1c3;
  padding-top: 2em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/jenkins\/jobs\/Build_IER_Frontend\/workspace\/app\/assets\/stylesheets\/print\.scss}line{font-family:\00003256}}
#skiplink-container,
.skip-to-related,
#global-header,
#global-cookie-message,
.back-to-previous,
.button,
.toggle,
.remove-field,
.duplicate-control,
.change {
  display: none !important; }
